<mat-toolbar  color="primary">
  <mat-toolbar-row class="justify-children">
    <span><i class="fa fa-search clickable" (click)="openFilterDialog()"></i></span>
    <span>Patiënten</span>
    <span><i class="fa fa-plus clickable"></i></span>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <div fxLayout="column" class="patient-list">
    <div *ngFor="let patient of patients">
        <div class="card-back-drop" fxLayoutAlign="space-between center">
            <span><i class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;Uitchecken</span>
            <span><i class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;Uitchecken</span>
        </div>
      <mat-card fxFlex="99" class="patient-card"                
                (click)="cardClicked(patient)"
                (pan)="onCardPan($event, patient)"
                (panend)="onCardRelease($event, patient)"
                data-mc-options='{ "touchAction": "pan-y" }'
                [ngStyle]="{'left.px': cardPositions[patient.id]}"
                >
        <mat-card-content>
          <div class="patient-location">
            <span class="mat-caption">{{patient.service}}</span>
            <span class="mat-caption">{{patient.room}}</span>
            <span class="mat-caption">{{patient.bed}}</span>
          </div>
          <div class="patient-card-name-row">
              <i *ngIf="patient.sex==Gender.Male" class="fa fa-mars patient-gender male"></i>
              <i *ngIf="patient.sex==Gender.Female" class="fa fa-venus patient-gender female"></i>
              &nbsp;
            <span class="patient-name">{{patient.name}}</span>
            &nbsp;
            <span class="patient-age">{{patient.age}}j</span>
          </div>
          <div class="mat-caption">
            {{patient.doctorName}}
          </div>
        </mat-card-content>
      </mat-card>

    </div>  
  </div>
</main>