.form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
.form-container > * {
  width: 100%;
  margin-bottom: 10px;
}

.patient-image{
  width: 100%;
  max-width: 500px;
  max-height: 400px;
}

.address-map {
  height: 300px;
}