/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html{overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label .fa{
    font-size: 1.3rem;
}
.fill-space {
    /* This fills the remaining space, when using flexbox. */
    flex: 1 1 auto;
}

.center-children{
   justify-content: center; 
}

.justify-children{
    justify-content: space-between; 
 }

 .clickable{
     cursor: pointer;
 }

 .hidden{
     display: none;
 }

 .alert{
     color: red;
 }
